In [2]:
print("Hi, I am Raj Kaste!")

Hi, I am Raj Kaste!

# Data Types

In [3]:
num = 2

In [4]:
type(num)

int

In [5]:
statement = "Welcome to python world"

In [6]:
type(statement)

str

In [7]:
decimal = 2.6

In [8]:
type(decimal)

float

# List

In [15]:
# List are mutable, ordered, collection of different datatypes

lst = ["Raj",4,[4,10,99],5,6,"Kaste"]

In [16]:
print(lst)

['Raj', 4, [4, 10, 99], 5, 6, 'Kaste']

In [11]:
lst[2]

[4, 10, 99]

In [14]:
# list slicing and dicing

In [12]:
lst[1:]

[4, [4, 10, 99], 5, 6]

In [13]:
lst[2:]

[[4, 10, 99], 5, 6]

In [15]:
lst[-2]

5

In [16]:
lst[-1]

6

In [17]:
lst[0]

'Raj'

In [18]:
lst[1:3]

[4, [4, 10, 99]]

In [19]:
lst[1:-3]

[4]

In [21]:
lst[0:]

['Raj', 4, [4, 10, 99], 5, 6, 'Kaste']

By Default Functions in List

In [74]:
# Python List Methods

# append() - Add an element to the end of the list
# extend() - Add all elements of a list to the another list
# insert() - Insert an item at the defined index
# remove() - Removes an item from the list
# pop() - Removes and returns an element at the given index
# clear() - Removes all items from the list
# index() - Returns the index of the first matched item
# count() - Returns the count of number of items passed as an argument
# sort() - Sort items in a list in ascending order
# reverse() - Reverse the order of items in the list
# copy() - Returns a shallow copy of the list

In [25]:
lst.append(26)

In [26]:
print(lst)

['Raj', 4, [4, 10, 99], 5, 6, 'Kaste', 26]

In [27]:
lst.append(4)

In [28]:
print(lst)

['Raj', 4, [4, 10, 99], 5, 6, 'Kaste', 26, 4]

In [29]:
lst.count(4)

2

In [30]:
 lst.pop(3)

5

In [31]:
print(lst)

['Raj', 4, [4, 10, 99], 6, 'Kaste', 26, 4]

In [32]:
lst.pop()

4

In [33]:
print(lst)

['Raj', 4, [4, 10, 99], 6, 'Kaste', 26]

In [34]:
#length of the list

print(len(lst))

6

In [35]:
lst.count('Raj')

1

In [36]:
lst.extend(["Hi",10,20])

In [37]:
print(lst)

['Raj', 4, [4, 10, 99], 6, 'Kaste', 26, 'Hi', 10, 20]

In [38]:
lst.index('Kaste')

4

In [39]:
lst.index(4)

1

In [40]:
lst.insert(2,'Sandip')

In [41]:
print(lst)

['Raj', 4, 'Sandip', [4, 10, 99], 6, 'Kaste', 26, 'Hi', 10, 20]

In [51]:
lst2 = [2,5,6,3,1,4]

In [52]:
print(lst2)

[2, 5, 6, 3, 1, 4]

In [53]:
lst2.sort()

In [54]:
print(lst2)

[1, 2, 3, 4, 5, 6]

In [55]:
lst2.reverse()

In [56]:
print(lst2)

[6, 5, 4, 3, 2, 1]

In [57]:
lst3 = lst2

In [58]:
print(lst3)

[6, 5, 4, 3, 2, 1]

In [59]:
lst4 = lst3.copy()

In [60]:
print(lst4)

[6, 5, 4, 3, 2, 1]

In [61]:
lst4.extend([7,8,9])

In [62]:
print(lst4)

[6, 5, 4, 3, 2, 1, 7, 8, 9]

In [63]:
print(lst3)

[6, 5, 4, 3, 2, 1]

In [64]:
print(lst2)

[6, 5, 4, 3, 2, 1]

In [65]:
lst2.remove(5)

In [66]:
print(lst2)

[6, 4, 3, 2, 1]

In [67]:
lst2.remove(3)

In [68]:
print(lst2)

[6, 4, 2, 1]

In [69]:
lst2.clear()

In [70]:
print(lst2)

[]

In [71]:
lst3.clear()

In [72]:
print(lst3)

[]

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [76]:
#dict

dit = {"my_family_has":4,
      "where_i_live":"Pune"}

In [77]:
dit.get("where_i_live")

'Pune'

In [78]:
dit["where_i_live"]

'Pune'

Default Functions in Dictionary

In [81]:
# methods in dict

# clear()	Removes all items from the dictionary.
# copy()	Returns a shallow copy of the dictionary.
# fromkeys(seq[, v])	Returns a new dictionary with keys from seq and value equal to v (defaults to None).
# get(key[,d])	Returns the value of the key. If the key does not exist, returns d (defaults to None).
# items()	Return a new object of the dictionary's items in (key, value) format.
# keys()	Returns a new object of the dictionary's keys.
# pop(key[,d])	Removes the item with the key and returns its value or d if key is not found. If d is not provided and the key is not found, it raises KeyError.
# popitem()	Removes and returns an arbitrary item (key, value). Raises KeyError if the dictionary is empty.
# setdefault(key[,d])	Returns the corresponding value if the key is in the dictionary. If not, inserts the key with a value of d and returns d (defaults to None).
# update([other])	Updates the dictionary with the key/value pairs from other, overwriting existing keys.
# values()	Returns a new object of the dictionary's values

In [82]:
dit.values()

dict_values([4, 'Pune'])

In [83]:
dit

{'my_family_has': 4, 'where_i_live': 'Pune'}

In [84]:
dit.keys()

dict_keys(['my_family_has', 'where_i_live'])

In [85]:
dit.pop("my_family_has")

4

In [86]:
dit

{'where_i_live': 'Pune'}

In [88]:
dit.get("where_i_live")

'Pune'

In [89]:
dit['age'] = 20

In [90]:
dit

{'where_i_live': 'Pune', 'age': 20}

In [91]:
dit['my_name'] = 'Raj Kaste'

In [92]:
dit

{'where_i_live': 'Pune', 'age': 20, 'my_name': 'Raj Kaste'}

In [93]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [94]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [95]:
print(squares.pop(4))

16

In [96]:
print(squares.popitem())

(5, 25)

In [97]:
squares

{1: 1, 2: 4, 3: 9}

In [98]:
squares.clear()

In [99]:
squares

{}

In [100]:
original = {1:'one', 2:'two'}

In [101]:
original

{1: 'one', 2: 'two'}

In [102]:
new = original.copy()

In [103]:
new

{1: 'one', 2: 'two'}

In [104]:
new.clear()

In [105]:
new

{}

In [106]:
original

{1: 'one', 2: 'two'}

In [107]:
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

In [108]:
sales

{'apple': 2, 'orange': 3, 'grapes': 4}

In [109]:
print(sales)

{'apple': 2, 'orange': 3, 'grapes': 4}

In [110]:
print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [122]:
d = {1: "one", 2: "three"}

In [123]:
d1 = {2: "two"}

In [124]:
# updates the value of key 2

d.update(d1)
print(d)

{1: 'one', 2: 'two'}

In [125]:
d1 = {3: "three"}

In [126]:
# adds element with key 3

d.update(d1)
print(d)

{1: 'one', 2: 'two', 3: 'three'}

In [1]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

In [2]:
vowels = dict.fromkeys(keys, value)
print(vowels)

{'u': 'vowel', 'o': 'vowel', 'a': 'vowel', 'i': 'vowel', 'e': 'vowel'}

In [3]:
person = {'name': 'Phill', 'age': 22}

In [4]:
person

{'name': 'Phill', 'age': 22}

In [5]:
age = person.setdefault('age')

In [6]:
age

22

In [8]:
person.get('name')

'Phill'

In [9]:
age

22

# Sets

unordered collection of unique objects.

In [12]:
sets = {"raj",4,10,99,"kaste",4,10}

In [17]:
sets

{10, 4, 99, 'kaste', 'raj'}

In [18]:
# methods in the Sets

# add()	Adds an element to the set
# clear()	Removes all elements from the set
# copy()	Returns a copy of the set
# difference()	Returns the difference of two or more sets as a new set
# difference_update()	Removes all elements of another set from this set
# discard()	Removes an element from the set if it is a member. (Do nothing if the element is not in set)
# intersection()	Returns the intersection of two sets as a new set
# intersection_update()	Updates the set with the intersection of itself and another
# isdisjoint()	Returns True if two sets have a null intersection
# issubset()	Returns True if another set contains this set
# issuperset()	Returns True if this set contains another set
# pop()	Removes and returns an arbitrary set element. Raises KeyError if the set is empty
# remove()	Removes an element from the set. If the element is not a member, raises a KeyError
# symmetric_difference()	Returns the symmetric difference of two sets as a new set
# symmetric_difference_update()	Updates a set with the symmetric difference of itself and another
# union()	Returns the union of sets in a new set
# update()	Updates the set with the union of itself and others

In [19]:
sets

{10, 4, 99, 'kaste', 'raj'}

In [20]:
sets.add(2)

In [21]:
sets

{10, 2, 4, 99, 'kaste', 'raj'}

In [23]:
sets.update({2, 3, 4})

In [24]:
sets

{10, 2, 3, 4, 99, 'kaste', 'raj'}

In [25]:
sets.update([4, 5], {1, 6, 8})

In [26]:
sets

{1, 10, 2, 3, 4, 5, 6, 8, 99, 'kaste', 'raj'}

In [27]:
sets.remove(3)

In [28]:
sets

{1, 10, 2, 4, 5, 6, 8, 99, 'kaste', 'raj'}

In [29]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [30]:
A

{1, 2, 3, 4, 5}

In [31]:
B

{4, 5, 6, 7, 8}

In [32]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
A.intersection(B)

{4, 5}

In [35]:
B.intersection(A)

{4, 5}

In [36]:
A.difference(B)

{1, 2, 3}

In [37]:
B.difference(A)

{6, 7, 8}

In [38]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [39]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [40]:
AA = {1, 2, 3, 4}
BB = {5, 6, 7}
CC = {4, 5, 6}

In [41]:
AA

{1, 2, 3, 4}

In [42]:
BB

{5, 6, 7}

In [43]:
CC

{4, 5, 6}

In [46]:
print('Are AA and BB disjoint?', AA.isdisjoint(BB))

Are AA and BB disjoint? True

In [47]:
print('Are AA and CC disjoint?', AA.isdisjoint(CC))

Are AA and CC disjoint? False

In [48]:
X = {1, 2, 3}
Y = {1, 2, 3, 4, 5}

In [49]:
X

{1, 2, 3}

In [50]:
Y

{1, 2, 3, 4, 5}

In [51]:
print(X.issubset(Y))

True

In [52]:
print(Y.issubset(X))

False

In [53]:
X.discard(5)

In [54]:
X

{1, 2, 3}

In [56]:
Y.discard(5)

In [57]:
Y

{1, 2, 3, 4}

In [58]:
AA

{1, 2, 3, 4}

In [59]:
CC

{4, 5, 6}

In [60]:
AA.issuperset(CC)

False

In [61]:
A

{1, 2, 3, 4, 5}

In [62]:
B

{4, 5, 6, 7, 8}

In [63]:
A.difference_update(B)

In [64]:
A

{1, 2, 3}

In [65]:
AA

{1, 2, 3, 4}

In [67]:
CC

{4, 5, 6}

In [69]:
AA.intersection_update(CC)

In [70]:
AA

{4}

In [71]:
CC

{4, 5, 6}

In [72]:
A1 = {'a', 'c', 'd'}
B2 = {'c', 'd', 'e' }

In [73]:
A1

{'a', 'c', 'd'}

In [74]:
B2

{'c', 'd', 'e'}

In [75]:
A1.symmetric_difference_update(B2)

In [76]:
A1

{'a', 'e'}

In [77]:
B2

{'c', 'd', 'e'}

In [79]:
B2.pop()

'd'

In [80]:
B2

{'c', 'e'}

In [81]:
B2.pop()

'e'

In [82]:
B2

{'c'}

In [83]:
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

In [84]:
numbers

{1, 2, 3, 4}

In [85]:
new_numbers

{1, 2, 3, 4}

In [86]:
new_numbers.add('5')

In [87]:
new_numbers

{1, 2, 3, 4, '5'}

In [88]:
numbers

{1, 2, 3, 4}

In [89]:
numbers.clear()

In [90]:
numbers

set()

# Tuple

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In [1]:
# tuple - ordered sequence of immutable objects.

In [6]:
tup = ('Raj','Sandip','Kaste')

In [7]:
tup.count('Raj')

1

In [8]:
tup.count('Kaste')

1

In [9]:
tup.index('Sandip')

1

In [10]:
len(tup)

3

In [12]:
tup[0:-1]

('Raj', 'Sandip')

# String

Strings are amongst the most popular types in Python. We can create them simply by enclosing characters in quotes. Python treats single quotes the same as double quotes. Creating strings is as simple as assigning a value to a variable.

In [13]:
var1 = 'Hello World!'
var2 = "Python Programming"

In [14]:
var1

'Hello World!'

In [15]:
var2

'Python Programming'

In [16]:
print ("var1[0]: ", var1[0])

var1[0]:  H

In [17]:
print ("var2[1:5]: ", var2[1:5])

var2[1:5]:  ytho

In [18]:
print ("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

In [19]:
var3="himanshu"

In [20]:
var3

'himanshu'

In [21]:
var3.capitalize()

'Himanshu'

In [22]:
len(var3)

8

In [23]:
max(var3)

'u'

In [24]:
min(var3)

'a'

In [25]:
var3.upper()

'HIMANSHU'

In [26]:
var3.swapcase()

'HIMANSHU'

In [27]:
var3.lower()

'himanshu'

In [28]:
var3.isdigit()

False

In [29]:
var3.isalpha()

True

In [30]:
var3.isdecimal()

False

---------------------------------